.nav-row {
  height: 40px;
}

.home-button {
  background-color: white;
  border: solid 2px white;
  border-radius: 0%;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 800;
  color: gray;
  margin-left: -30px;
}

.nav-section {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 600;
  color: gray;
  float: left;
}

li {
  list-style: none;
}

input {
  float: right;
  border-radius: 20px;
  border: solid 2px blue;
  height: 40px;
  width: 250px;
  margin-right: 20px;
}

.top {
  background-color: black;
  color: white; 
}
.bottom {
  background-color: rgba(255, 0, 0, 0);
  color: rgba(97, 97, 97, 1)
}
.bottom:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.right-cluster {
  position: fixed;
  right: 20px;
  top: 30px; 
}

.shopping-icon {
  color: gray;
  font-size: 30px;
}

.btn-primary {
}

.btn-primary:hover {
  background-color: white;
}
.collapse {
    width: 500px;
    color: black;
  }

.dropdown-toggle {
  width: 500px;
}